:root {
    --background-light: azure;
    --text-dark: rgb(6, 22, 38);
    --background-dark: rgb(8, 32, 55);
    --text-light: azure;
    --background-hover: rgb(0, 64, 124);
    --text-hover: azure;
}


@keyframes expand {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.05);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.5)
    }

    to {
        opacity: 1;
        transform: scale(1)
    }
}


body {
    background-color: var(--background-light);
    color: var(--text-dark);
    margin: 0;
    padding: 0;

    overflow-x:auto;
    overflow-y: scroll;

    scrollbar-width: 0;
    animation: fadeFromLeft 1s ease;
    /* overflow: hidden; */
    width: inherit;
    height: inherit;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


body.dark {
    background-color: var(--background-dark);
    color: var(--text-light);
}

table,
th,
td {

    /* Styling the border. */
    border: 1.5px solid blue;
    /* border-radius: 20px; */
    padding: 6px;
    margin: 6px;
    border-radius: 5px;
}

table
{
    border-radius: 20px;
}

th
{
    background-color: aqua;
    padding: 5px;
    margin: 5px;
}


#navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 6vh;
    border: 2px solid #007bff;
    border-radius: 20px;
    padding: 5px;
    margin: 5px;
    background-color: rgb(11, 149, 255);
}

.popup
{
    display: none;
}

#Logo{
    height: 5vh;
    width: auto;
    border-radius: 20px;
    box-shadow:1px 1px rgb(23, 64, 77); ;
    display: flex;
    padding: 5px;
    margin: 5px;
    margin-right: 10px;
}

#main_viewport {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    flex-wrap: wrap;
    height: 95vh;
    width: 100%;
}

.content {
    border: 5px solid var(--background-dark);
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    margin-bottom: 5vh;
    display: flex;
    justify-items: center;
    align-items: center;
    overflow-y: scroll;
}

.edit:hover
{
    background-color: var(--background-hover);
    color: var(--text-hover);
    animation: expand 1s ease;
}


input{
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 12px;
    width: 15vw;
    align-self: center;
    transition: border-color 0.3s;
    border-radius: 20px;
    padding: 0.5rem 1rem;
}

input:hover{
    border-color: #569de8;
}
input:focus {
    outline: none;
    border-color: #007bff;
    background-color: aliceblue;
    border-width: 3px;
}



.modern-dropdown {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 5px;
    /* padding: 8px 16px; */
    padding: 5px;
    margin-bottom: 10px;
    font-size: 16px;
    color: #333;
}

.modern-dropdown:focus {
    outline: none;
    border-color: #007bff;
}

/* Custom dropdown arrow */
.modern-dropdown::after {
    content: '\25BC';
    /* Unicode character for down arrow */
    position: absolute;
    /* top: calc(50% - 6px);
    right: 10px; */
    color: #666;
    width: 1vw;
}

/* On hover styles */
.modern-dropdown:hover {
    background-color: #eaeaea;
}



footer
{
    padding: 10px;
}

.auto-index td:first-child:before
{
  counter-increment: Serial;      /* Increment the Serial counter */
  content: "Serial is: " counter(Serial); /* Display the counter */
}